<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear cromo</title>
<link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Crear cromo nuevo</h1>
<form action="#" th:action="@{/}" th:object="${cromo}" method="post" enctype="multipart/form-data">
	<div class="form-group">
	<label for="nombre">Nombre</label>
    <input type="text" id="nombre" class="form-control" th:field="*{nombre}" />
	</div>
	<div class="form-group">
		<label for="equipo">Equipo</label>
		<input type="text" id="equipo" class="form-control" th:field="*{equipo}" />
    </div>
    <div class="form-group">
    	<label for="nacimiento">Nacimiento</label>
		<input type="date" id="nacimiento" class="form-control" th:field="*{nacimiento}" />
	</div>
	<div class="form-group">
		<label for="peso">Peso</label>
		<input type="number" id="peso" class="form-control" th:field="*{peso}" />
	</div>
	<div class="form-group">
		<label for="altura">Altura</label>
		<input type="number" id="altura" class="form-control" th:field="*{altura}" />
	</div>
	<div class="form-group">
		<label for="imagen">Imagen</label>
		<input type="file" if="imagen" class="form-control"th:field="*{imagen}" />
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('cantidad')}? has-error">
		<label for="cantidad">Cantidad de cromos</label>
		<input type="number" id="cantidad" class="form-control" th:field="*{cantidad}"  />
	</div>

	<button type="submit" class="btn btn-primary">Enviar</button>
</form>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>